.page-container {
    display: block;
    width: 100%;
    height: 100%;
}

/* Header Section */
.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.title-container {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

/* Body Section */
.body-container {
    display: flex;
    justify-content: center;
    padding: 2% 5%;
}

/* Form */
.table-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    .form-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-control-row {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}


/* Timer Section */
.timer-container {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 60%;
}

.tables-container {
    width: 40%;
}

app-timer {
    width: 100%;
}
