.page-container {
    display: block;
    width: 100%;
}

/* Header Section */
.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.title-container {
    display: flex;
    justify-content: center;
    width: 50%;
}


/* Timer Section */
.timer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
